<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<title>See Your New Blog</title>
   		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../../css/standard.css" rel="stylesheet">
</head>
	<body>
	<div th:replace="fragments/navbar :: navbar" ></div>      
        <div class="container">
			<h1>See Your Post</h1>
			
			

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-dark">
					<div class="panel-heading">
						<h1 th:text="${blogpost.title}"></h1>
					</div>
					<div class="panel-body">
						<p th:text="${blogpost.author}" />
						<p th:text="${blogpost.blogEntry}" />
					</div>
					
					<div class="panel-footer">
						 <a th:href="@{/}"><button class="btn btn-success">Back To Home Page</button></a>
						<a th:href="@{/new}"><button class="btn btn-primary">Submit a New Blog Post</button></a>
						
				
						

					</div>	
			  </div>
		   </div>
		</div>
</div>
					<div th:replace="/fragments/styling :: body-links"></div></body>
</html>

		